<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">


  
 	<card>
        <title>Subscriptions model</title>
		<input-field type="bool">
		    <name>subscriptionActive</name>
		    <label>Subscription model active</label>
		</input-field>
		
   	 </card>
       
    
    
</config>